[
{drt,
        [
                {email_server, "http://10.1.50.233/framework/v1/mail"},
                {email, ["Joan.P.Lai@newegg.com","Carl.Y.Wu@newegg.com","Randy.L.Pan@newegg.com","Jacky.H.Huang@newegg.com","Allen.Y.Li@newegg.com","Hardy.D.Huang@newegg.com","$
                {to, ["Anzy.X.Liao@newegg.com", "Peter.J.Zhai@newegg.com"]},
                {cc, ["Hans.T.Liu@newegg.com"]}
        ]}
].